/*
color.scss
dependencies:
  - _variables.scss
*/

$shades: 10, 15, 20, 25;
$user-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "tertiary": $tertiary-color
);

// FIXME
// make black white transparent
// make dark light functions
// make the auto-text color function

@each $color_name, $color_value in $user-colors {
  .#{$color-name} {
    background-color: $color_value;
    @each $shade in $shades {
      &.lighten-#{$shade} {
        background-color: lighten($color_value, $shade);
      }
      &.darken-#{$shade} {
        background-color: darken($color_value, $shade);
      }
    }
  }
  .text-#{$color-name} {
    color: $color_value;
    @each $shade in $shades {
      &.text-lighten-#{$shade} {
        color: lighten($color_value, $shade);
      }
      &.text-darken-#{$shade} {
        color: darken($color_value, $shade);
      }
    }
  }
}
