// position.scss
.position-fixed {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
