// text.scss
// helper classes to handle text elements
$font-weights: (
  "thin": 100,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900
);
@each $name, $weight in $font-weights {
  .text-#{$name} {
    font-weight: $weight;
  }
}

$text-transforms: uppercase, lowercase, capitalize;
@each $transform in $text-transforms {
  .text-#{$transform} {
    text-transform: $transform;
  }
}

$text-positions: left, center, right;
@each $position in $text-positions {
  .text-#{$position} {
    text-align: #{$position};
  }
}

.text-vertical {
  display: inline-block;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
