/*
button.scss
dependencies:
  - _variables.scss
classes:
  - disabled
  - outlined
  - rounded
  - block
  - large
  - text
  - flat
*/

@mixin button-reset {
  font: inherit;
  cursor: pointer;
  outline: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

// FIXME
// double check on materialize
// the tap thing
.btn,
a.btn,
button.btn {
  // shared variables
  // FIXME
  // a lot of variables here
  // are unecessary
  $btn-color: lighten($btn-background, 100) !default;
  $btn-border: solid 1px transparent;
  // FIXME
  // the margin should be defined
  // in a more sensible way?
  $btn-margin: 0 2px 1rem !default;
  $btn-padding: 1rem !default;
  $btn-min-width: 4rem !default;
  $btn-min-height: 2.5rem !default;
  $btn-static-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.95) !default;
  $btn-raised-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.95) !default;
  $btn-default-hover: lighten($btn-background, 10);
  $btn-default-active: lighten($btn-background, 20);
  $btn-outlined-hover: lighten($btn-background, 50);
  $btn-outlined-active: lighten($btn-background, 55);

  // reset
  @include button-reset;

  // default buttons
  min-height: $btn-min-height;
  min-width: $btn-min-width;
  padding: 0 $btn-padding;
  margin: $btn-margin;
  color: $btn-color;
  border: $btn-border;
  box-shadow: $btn-static-shadow;
  font-weight: $btn-font-weight;
  border-radius: $btn-border-radius;
  letter-spacing: $btn-letter-spacing;
  text-transform: $btn-font-style;
  background-color: $btn-background;
  transition: all 0.2s;
  &:hover {
    color: $btn-color;
    box-shadow: $btn-raised-shadow;
    background-color: $btn-default-hover;
    &:active {
      background-color: $btn-default-active;
    }
  }
  &.disabled {
    opacity: 40%;
    box-shadow: none !important;
    background-color: $btn-background !important;
    cursor: default;
  }

  // outlined buttons
  &.outlined {
    box-shadow: none;
    color: $btn-background;
    border-color: $btn-background;
    background-color: transparent;
    &:hover {
      background-color: $btn-outlined-hover;
      &:active {
        background-color: $btn-outlined-active;
      }
    }
    &.disabled {
      background-color: transparent !important;
    }
  }

  // text buttons
  &.text {
    box-shadow: none;
    color: $btn-background;
    padding: 0 calc(#{$btn-padding} / 2);
    border-color: transparent;
    background-color: transparent;
    &:hover {
      background-color: $btn-outlined-hover;
      &:active {
        background-color: $btn-outlined-active;
      }
    }
    &.disabled {
      background-color: transparent !important;
    }
    &.large {
      padding: 0 $btn-padding;
    }
  }

  // large buttons
  &.large {
    padding: 0 calc(#{$btn-padding} * 2);
    min-height: calc(#{$btn-min-height} * 1.25);
  }

  // flat buttons
  &.flat {
    box-shadow: none;
  }

  // block buttons
  &.block {
    width: 100%;
  }

  // rounded buttons
  &.rounded {
    border-radius: 4rem;
  }
}
