// navbar.scss
.navbar {
  $navbar-padding-x: 1rem;

  width: calc(100% - (2 * $navbar-padding-x));
  height: $navbar-height-min;
  padding: 0 $navbar-padding-x;
  display: flex;
  align-items: center;

  @include for-tablet-up {
    height: $navbar-height-max;
  }

  .nav-title {
    padding: 0.5rem;
  }

  .nav-trigger {
    padding: 0.5rem;
    cursor: pointer;
  }

  .nav-menu {
    padding: 0.5rem;
    .nav-menu-links {
      display: flex;
      align-items: center;

      .nav-menu-link {
        margin: 0 1rem;
      }
    }
  }
}
