// text.scss
// helper classes to handle text elements
.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 700;
}

.text-bold {
  font-weight: 900;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-vertical {
  display: inline-block;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
