// typography.scss
:root {
  font-size: 15px;

  @include for-tablet-down {
    font-size: 14px;
  }
}

body {
  font-family: $font-stack;
  font-weight: 300;
  line-height: 1.8;
  color: $text-color;
}

p {
  margin-bottom: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.35;
}

h1 {
  margin-top: 0;
}

// ratio 1.25
// FIXME
// compute the typescale on the fly
// inslude small .text-small
@for $heading-number from 1 to 6 {
  h#{$heading-number},
  .display-#{$heading-number} {
    font-size: #{nth($typescale, $heading-number)}rem;
  }
}

small,
.text_small {
  font-size: 0.8rem;
}
