// typography.scss
// controls the main typography rules
$font-family: "Montserrat";
$font-url: "https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900";

:root {
  font-size: 15px;

  @include for-tablet-down {
    font-size: 14px;
  }
}

body {
  padding: 1rem;
  background-color: white;
  font-family: $font-family, sans-serif;
  font-weight: 300;
  line-height: 1.8;
  color: #333;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.35;
}

h1 {
  margin-top: 0;
}

// ratio 1.25
// FIXME
// compute the typescale on the fly
// inslude small .text-small
$scale_1_250: 3.052, 2.441, 1.953, 1.563, 1.25;

@for $heading-number from 1 to 6 {
  h#{$heading-number},
  .display-#{$heading-number} {
    font-size: #{nth($scale_1_250, $heading-number)}em;
  }
}

small,
.text_small {
  font-size: 0.8em;
}

// ratio 1.175
// FIXME
// compute the typescale on the fly
// inslude small .text-small
@include for-tablet-down {
  $scale_1_175: 2.24, 1.906, 1.622, 1.381, 1.175;

  @for $heading-number from 1 to 6 {
    h#{$heading-number},
    .display-#{$heading-number} {
      font-size: #{nth($scale_1_175, $heading-number)}em;
    }
  }

  small,
  .text_small {
    font-size: 0.851em;
  }
}
