// core
@import "./cluster-css/normalize";
@import "./cluster-css/variables";
@import "./cluster-css/breakpoints";
@import "./cluster-css/typography";
@import "./cluster-css/containers";
@import "./cluster-css/common";

// // helpers
// @import "./cluster-css/helpers/position";
// @import "./cluster-css/helpers/shadow";
@import "./cluster-css/helpers/color";
// @import "./cluster-css/helpers/flex";
// @import "./cluster-css/helpers/text";

// // components
// @import "./cluster-css/components/navbar";
// @import "./cluster-css/components/button";
// @import "./cluster-css/components/link";
// @import "./cluster-css/components/icon";

// header {
//   background-color: #ffffff;
// }

// main {
//   margin-top: $navbar-height-min;

//   @include for-tablet-up {
//     margin-top: $navbar-height-max;
//   }
// }

// h1,
// h2,
// h3,
// h4,
// h5 {
//   font-weight: $font-weight-medium;
//   text-transform: capitalize;
// }

// hr {
//   border: none;
//   display: block;
//   height: 1px;
//   margin: 0.5rem 0 2rem;
//   background-color: $text-color;

//   &.horizontal-bar {
//     width: 100px;
//     border-radius: 2px;
//     &.light {
//       height: 0.0625rem;
//     }

//     &.regular {
//       height: 0.125rem;
//     }

//     &.medium {
//       height: 0.25rem;
//     }

//     &.thick {
//       height: 0.5rem;
//     }

//     &.left {
//       margin: 1rem 0 2.75rem auto;
//     }

//     &.right {
//       margin: 1rem auto 2.75rem 0;
//     }

//     &.center {
//       margin: 1rem auto 2.75rem;
//     }
//   }
// }

// img {
//   display: block;
//   width: 100%;
// }

// section {
//   display: flex;
//   align-items: center;
//   flex-flow: row wrap;

//   .section-image {
//     display: block;
//     width: 100%;
//     order: 1;
//   }

//   .section-title {
//     margin-top: 0;
//     letter-spacing: 1px;
//   }

//   .section-content {
//     padding: 4rem 1.5rem;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     order: 2;
//   }
// }

// #hero,
// #showcase,
// #trends {
//   padding-bottom: 2rem;
// }

// #newsletter {
//   // padding: 4rem 1rem;
// }

// #lightbox {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   margin-bottom: 1.25rem;

//   .lightbox-image {
//     margin: 0.25rem;
//   }
// }

// #slider-controls {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   button {
//     margin: 0.5rem;
//   }
// }

// BUTTON COMPONENT
$btn-font-weight: 400;
$btn-font-style: capitalize;
$btn-font-size: 1rem;
// $btn-padding: 0.75rem 1rem; // don't know
$btn-padding: 0 1rem; // don't know
$btn-margin: 2px; //don't know
$btn-color: white;
$btn-border-radius: 2px;
$btn-letter-spacing: 1px;
$btn-background-color: black;

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  // reset
  @include button-reset;

  // shared styles
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: $btn-font-weight;
  text-transform: $btn-font-style;
  padding: $btn-padding;
  margin: $btn-margin;
  color: $btn-color;
  border-radius: $btn-border-radius;
  letter-spacing: $btn-letter-spacing;
  background-color: $btn-background-color;

  // states - enabled by default
  &:disabled {
  }
  &:focus {
  }
  &:active {
  }
  &:hover {
  }

  &.btn-outlined {
    &:disabled {
    }
    &:focus {
    }
    &:active {
    }
    &:hover {
    }
  }

  &.btn-block {
    width: 100%;
  }

  .btn-icon {
    background-color: green;
    padding: 0;
    margin: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    // line-height: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    &::before {
      font-size: 24px;
      // position: absolute;
      // width: 48px;
      // height: 48px;
      // top: 0;
      // left: 0;
      // line-height: 100px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // background-color: blue;
      // font-size: 1.5rem;
      // margin-left: 1px;
    }
  }
}
// $btn-background-color: $primary-color-dark;
// $btn-background-hover: $primary-color-light;
// $btn-text-color: #ffffff;
// button {
//   border: none;
//   &:focus {
//     outline: none;
//   }
// }

// .btn {
//   cursor: pointer;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   text-transform: uppercase;
//   color: $btn-text-color;
//   padding: 1rem 2rem;
//   font-weight: 700;
//   border-radius: 2px;
//   background-color: $btn-background-color;
//   transition: all 0.2s;

//   &:hover {
//     background-color: $btn-background-hover;
//   }

//   &.btn-squared {
//     width: 64px;
//     height: 64px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   &.btn-outline {
//     background-color: $btn-text-color;
//     color: $btn-background-color;
//     border: solid 1px $btn-background-color;

//     &:hover {
//       background-color: $btn-background-color;
//       color: #ffffff;
//     }
//   }

//   // &.fab {
//   //   border-radius: 50%;
//   //   position: absolute;
//   //   padding: 0;
//   //   margin: 1rem;
//   //   width: 48px;
//   //   height: 48px;
//   //   background-color: rgb(255, 255, 255);
//   //   color: rgba(51, 51, 51, 1);

//   //   i {
//   //     margin-top: 2px;
//   //   }

//   //   @include for-mobile-portrait-down {
//   //     margin: 1rem 0.5rem;
//   //   }
//   // }

//   &.disabled {
//     color: rgba(51, 51, 51, 0.5);
//     box-shadow: none !important;
//     cursor: default !important;
//   }
// }

// FORMS / INPUT FIELDS

// form {
//   display: block;
//   padding: 0 1rem;
//   margin-bottom: 1.25rem;
//   width: 100%;
// }

// input[type="text"],
// input[type="email"],
// input[type="password"],
// input[type="url"],
// input[type="time"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="tel"],
// input[type="number"],
// input[type="search"],
// textarea {
//   display: inline-block;
//   box-sizing: border-box;
//   outline: none;
//   border: none;
//   width: 100%;
//   height: 2.5rem;
//   padding: 0 1.5rem;
//   margin: 0 0 0.5rem 0;
//   margin-bottom: 0.5rem;
//   border-radius: calc(2.5rem / 2);
//   background-color: #ffffff;

//   &::placeholder {
//     font-size: 0.9rem;
//     color: color("blue-grey", "lighten-3");
//   }
// }

// .input-group {
//   position: relative;
//   height: 4rem;
//   display: flex;
//   align-items: center;

//   input {
//     margin: 0;
//   }

//   .btn {
//     position: absolute;
//     right: 0;
//     height: 3rem;
//     width: 3rem;
//     border-radius: calc(3rem / 2);
//     padding: 0;
//     background-color: white;
//     color: black;

//     i {
//       display: block;
//       line-height: 0;
//     }
//   }
// }
